# Ejercicios

Usando el archivo data/parsed.csv y el material de este capítulo, complete los siguientes ejercicios para practicar sus habilidades con pandas:

1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.
2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.
3. Calcular las estadísticas resumidas de los terremotos en Nevada.
4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, Antártida (busca Antarctic), Bolivia,
California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.
5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.
6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv(r'C:\Users\laura\Desktop\DS_PT_09_2023\Data_Analysis\Analisis_de_datos\ch_02\data\parsed.csv',sep = ',')

In [5]:
data.shape

(9332, 27)

In [6]:
data.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

In [9]:
data.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,NaN,ci,20.0,"9km NE of Aguanga, CA",0.29,26,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,NaN,ci,111.0,"8km NE of Aguanga, CA",0.22,192,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.17,3,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,NaN,nc,18.0,"10km NW of Avenal, CA",0.05,72,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California

In [10]:
data['magType'].unique()

array(['ml', 'md', 'mb', 'mww', 'mb_lg', 'mwr', 'mw', 'mh', 'ms_20',
       'mwb', nan], dtype=object)

In [11]:
data['magType'].dtype

dtype('O')

### 1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.

In [12]:
data_jap = data.loc[(data['parsed_place']== 'Japan') & (data.magType == 'mb')]

In [13]:
data_jap.describe(percentiles=[0.05, 0.95])

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,16.000000,50.000000,16.000000,50.000000,50.000000,0.0,0.0,50.000000,50.000000,5.000000e+01,50.0,50.000000,5.000000e+01
mean,2.881250,1.485080,11.187500,108.880000,4.530000,NaN,NaN,0.801800,318.080000,1.538218e+12,0.0,547.200000,1.538746e+12
std,0.883341,0.802257,20.672748,31.676709,0.266688,NaN,NaN,0.258589,38.570286,6.404535e+08,0.0,26.111222,5.518279e+08
min,1.000000,0.223000,1.000000,33.000000,4.000000,NaN,NaN,0.270000,246.000000,1.537258e+12,0.0,480.000000,1.537430e+12
5%,1.000000,0.533550,1.000000,68.700000,4.100000,NaN,NaN,0.428000,259.000000,1.537409e+12,0.0,540.000000,1.537614e+12
50%,3.100000,1.271000,3.500000,112.000000,4.600000,NaN,NaN,0.810000,326.000000,1.538268e+12,0.0,540.000000,1.538886e+12
95%,3.875000,2.583200,35.500000,155.650000,4.900000,NaN,NaN,1.335500,371.750000,1.539090e+12,0.0,600.000000,1.539428e+12
max,4.100000,4.830000,85.000000,167.000000,5.400000,NaN,NaN,1.400000,451.000000,1.539449e+12,0.0,600.000000,1.539533e+12

In [29]:
data_jap[(data_jap.parsed_place == 'Japan') & (data_jap.magType == 'mb')].mag.quantile(0.95)

4.9

### 2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.

In [14]:
indo = data.loc[(data['parsed_place'] == 'Indonesia')]['tsunami'].count()
indo

147

In [15]:
indo_tsunami = data.loc[(data['parsed_place'] == 'Indonesia') & (data['tsunami']== 1),]

In [16]:
indo_tsunami['tsunami'].sum()/indo*100

23.12925170068027

Forma directa:

In [35]:
data[data.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True)

tsunami
0    0.768707
1    0.231293
Name: proportion, dtype: float64

In [32]:
f"{data[data.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True).iloc[1,]:.2%}"

'23.13%'

In [36]:
data[data['place'].str.contains('Indonesia', na=False) & data['tsunami'] != 0]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url,parsed_place,fire_belt
1406,NaN,NaN,1000h8zg,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.132,NaN,79.0,",us1000h8zg,",5.1,mb,NaN,us,NaN,"13km E of Palu, Indonesia",1.06,400,",us,",reviewed,1539033346530,"M 5.1 - 13km E of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1539037997040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
1698,NaN,4.3,1000h8gb,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.637,17.0,63.0,",us1000h8gb,",5.1,mww,NaN,us,NaN,"14km ENE of Sambelia, Indonesia",1.28,407,",us,",reviewed,1538935041200,"M 5.1 - 14km ENE of Sambelia, Indonesia",1,earthquake,",dyfi,geoserve,origin,phase-data,",480.0,1539213200944,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3112,NaN,NaN,1000h68e,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.745,NaN,80.0,",us1000h68e,",5.3,mb,NaN,us,NaN,"29km SSW of Nggongi, Indonesia",1.20,432,",us,",reviewed,1538570285120,"M 5.3 - 29km SSW of Nggongi, Indonesia",1,earthquake,",geoserve,moment-tensor,origin,phase-data,",480.0,1538688306040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3150,NaN,NaN,1000h66t,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.710,NaN,79.0,",us1000h66t,",5.0,mww,NaN,us,NaN,"38km S of Nggongi Satu, Indonesia",1.04,385,",us,",reviewed,1538560686080,"M 5.0 - 38km S of Nggongi Satu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538561863040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3605,NaN,NaN,1000h5hb,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.596,NaN,90.0,",us1000h5hb,",5.0,mb,NaN,us,NaN,"50km WSW of Kasiguncu, Indonesia",0.71,385,",us,",reviewed,1538456366290,"M 5.0 - 50km WSW of Kasiguncu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538457427040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3609,green,NaN,1000h5h5,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.774,NaN,37.0,",us1000h5h5,",5.6,mww,4.67,us,NaN,"33km SSW of Nggongi Satu, Indonesia",1.22,482,",us,",reviewed,1538455771470,"M 5.6 - 33km SSW of Nggongi Satu, Indonesia",1,earthquake,",geoserve,losspager,moment-tensor,origin,phase...",480.0,1538600570040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3692,green,NaN,1000h5el,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.738,NaN,49.0,",us1000h5el,",5.9,mww,5.27,us,NaN,"30km SSW of Nggongi, Indonesia",1.25,536,",us,",reviewed,1538439405760,"M 5.9 - 30km SSW of Nggongi, Indonesia",1,earthquake,",geoserve,ground-failure,losspager,moment-tens...",480.0,1538457687574,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3699,green,NaN,1000h5eg,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.715,NaN,46.0,",us1000h5eg,",6.0,mww,5.20,us,NaN,"33km S of Nggongi Satu, Indonesia",1.19,554,",us,",reviewed,1538438383070,"M 6.0 - 33km S of Nggongi Satu, Indonesia",1,earthquake,",geoserve,ground-failure,losspager,moment-tens...",480.0,1538457423108,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3707,NaN,NaN,1000h5eb,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.975,NaN,50.0,",us1000h5eb,",5.2,mww,NaN,us,NaN,"25km N of Palu, Indonesia",0.94,416,",us,",reviewed,1538437599550,"M 5.2 - 25km N of Palu, Indonesia",1,earthquake,",geoserve,moment-tensor,origin,phase-data,",480.0,1538499097040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3709,NaN,NaN,1000h5e3,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.714,NaN,59.0,",us1000h5e3,",5.4,mb,NaN,us,NaN,"31km S of Nggongi Satu, Indonesia",0.93,449,",us,",reviewed,1538436426090,"M 5.4 - 31km S of Nggongi Satu, Indonesia",1,earthquake,",geoserve,moment-tensor,origin,phase-data,",480.0,1538695468040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
3714,NaN,NaN,1000h5du,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.761,NaN,46.0,",us1000h5du,",5.0,mww,NaN,us,NaN,"33km SSW of Nggongi Satu, Indonesia",1.48,385,",us,",reviewed,1538435522580,"M 5.0 - 33km SSW of Nggongi Satu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538437120040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
4027,NaN,2.0,1000h4vq,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.610,1.0,64.0,",us1000h4vq,",5.1,mww,NaN,us,NaN,"101km NNW of Palu, Indonesia",1.26,400,",us,",reviewed,1538372615190,"M 5.1 - 101km NNW of Palu, Indonesia",1,earthquake,",dyfi,geoserve,moment-tensor,origin,phase-data,",480.0,1538500068040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
4827,NaN,NaN,1000h47j,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.592,NaN,48.0,",us1000h47j,",5.1,mww,NaN,us,NaN,"49km W of Kasiguncu, Indonesia",0.70,400,",us,",reviewed,1538217018480,"M 5.1 - 49km W of Kasiguncu, Indonesia",1,earthquake,",geoserve,moment-tensor,origin,phase-data,",480.0,1538501361040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
4888,NaN,NaN,1000h46e,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.634,NaN,56.0,",us1000h46e,",5.1,mb,NaN,us,NaN,"53km W of Kasiguncu, Indonesia",0.49,400,",us,",reviewed,1538206811760,"M 5.1 - 53km W of Kasiguncu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538207806040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5054,NaN,NaN,1000h42g,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.645,NaN,48.0,",us1000h42g,",5.0,mww,NaN,us,NaN,"55km WSW of Kasiguncu, Indonesia",0.71,385,",us,",reviewed,1538169841560,"M 5.0 - 55km WSW of Kasiguncu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538170758040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5146,NaN,NaN,1000h3v4,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.598,NaN,87.0,",us1000h3v4,",5.0,mb,NaN,us,NaN,"45km SSW of Palu, Indonesia",1.38,385,",us,",reviewed,1538148942250,"M 5.0 - 45km SSW of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538151636040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5179,NaN,NaN,1000h3t2,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.601,NaN,35.0,",us1000h3t2,",5.4,mb,NaN,us,NaN,"113km NNW of Palu, Indonesia",1.08,449,",us,",reviewed,1538144760960,"M 5.4 - 113km NNW of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538916343040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5195,NaN,NaN,1000h3sh,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.637,NaN,40.0,",us1000h3sh,",5.2,mb,NaN,us,NaN,"58km S of Palu, Indonesia",1.23,416,",us,",reviewed,1538141984430,"M 5.2 - 58km S of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538895549040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5196,green,NaN,1000h3sd,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.517,NaN,21.0,",us1000h3sd,",5.7,ms_20,6.09,us,NaN,"107km N of Palu, Indonesia",0.82,500,",us,",reviewed,1538141730630,"M 5.7 - 107km N of Palu, Indonesia",1,earthquake,",geoserve,losspager,origin,phase-data,shakemap,",480.0,1538895450840,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5214,NaN,NaN,1000h3rz,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.788,NaN,52.0,",us1000h3rz,",5.1,mb,NaN,us,NaN,"47km N of Palu, Indonesia",0.80,400,",us,",reviewed,1538137653240,"M 5.1 - 47km N of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538138590040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5240,NaN,NaN,1000h3ra,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.695,NaN,52.0,",us1000h3ra,",5.2,mb,NaN,us,NaN,"68km SSE of Palu, Indonesia",1.07,416,",us,",reviewed,1538132811150,"M 5.2 - 68km SSE of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538133786040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5244,green,NaN,1000h3r6,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.032,NaN,35.0,",us1000h3r6,",5.7,mb,6.16,us,NaN,"17km NNE of Palu, Indonesia",0.99,500,",us,",reviewed,1538131825150,"M 5.7 - 17km NNE of Palu, Indonesia",1,earthquake,",geoserve,losspager,origin,phase-data,shakemap,",480.0,1538139168395,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5245,NaN,NaN,1000h3r7,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.850,NaN,77.0,",us1000h3r7,",5.1,mb,NaN,us,NaN,"42km N of Palu, Indonesia",0.69,400,",us,",reviewed,1538131664560,"M 5.1 - 42km N of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538132858040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5250,NaN,NaN,1000h3r4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.984,NaN,41.0,",us1000h3r4,",5.4,mb,NaN,us,NaN,"24km N of Palu, Indonesia",1.33,449,",us,",reviewed,1538131143050,"M 5.4 - 24km N of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538132333040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5256,green,NaN,1000h3pn,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.309,NaN,40.0,",us1000h3pn,",5.8,mb,6.95,us,NaN,"21km SSE of Palu, Indonesia",1.27,518,",us,",reviewed,1538130304440,"M 5.8 - 21km SSE of Palu, Indonesia",1,earthquake,",geoserve,losspager,origin,phase-data,shakemap,",480.0,1538137658671,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5258,green,3.8,1000h3rc,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.123,1.0,48.0,",us1000h3rc,",5.7,mb,6.15,us,NaN,"17km E of Palu, Indonesia",0.67,500,",us,",reviewed,1538129809140,"M 5.7 - 17km E of Palu, Indonesia",1,earthquake,",dyfi,geoserve,losspager,origin,phase-data,sha...",480.0,1538137146006,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5259,green,NaN,1000h3p8,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.504,NaN,41.0,",us1000h3p8,",5.8,mb,6.09,us,NaN,"99km N of Palu, Indonesia",1.45,518,",us,",reviewed,1538129660450,"M 5.8 - 99km N of Palu, Indonesia",1,earthquake,",geoserve,losspager,origin,phase-data,shakemap,",480.0,1538136994637,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,9.12,us,NaN,"78km N of Palu, Indonesia",1.27,2015,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5289,NaN,NaN,1000h3nd,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.707,NaN,61.0,",us1000h3nd,",5.0,mb,NaN,us,NaN,"60km N of Palu, Indonesia",0.62,385,",us,",reviewed,1538123098480,"M 5.0 - 60km N of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538123996040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5321,NaN,NaN,1000h3n0,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.517,NaN,72.0,",us1000h3n0,",5.4,mb,NaN,us,NaN,"77km NNE of Palu, Indonesia",0.59,449,",us,",reviewed,1538118198440,"M 5.4 - 77km NNE of Palu, Indonesia",1,earthquake,",geoserve,origin,phase-data,",480.0,1538120870040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5323,green,NaN,1000h3mf,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.812,NaN,33.0,",us1000h3mf,",6.1,mww,6.71,us,NaN,"55km NNW of Palu, Indonesia",1.17,572,",us,",reviewed,1538118001950,"M 6.1 - 55km NNW of Palu, Indonesia",1,earthquake,",geoserve,ground-failure,losspager,moment-tens...",480.0,1538158590933,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
5790,NaN,NaN,1000h34s,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.083,NaN,94.0,",us1000h34s,",5.1,mb,NaN,us,NaN,"117km N of Saumlaki, Indonesia",1.13,400,",us,",reviewed,1538026140750,"M 5.1 - 117km N of Saumlaki, Indonesia",1,earthquake,",geoserve,origin,phase-data,",540.0,1538027116040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
6004,NaN,3.1,1000h2u2,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.099,2.0,31.0,",us1000h2u2,",5.1,mww,NaN,us,NaN,"19km WNW of Langsa, Indonesia",1.25,401,",us,",reviewed,1537984301360,"M 5.1 - 19km WNW of Langsa, Indonesia",1,earthquake,",dyfi,geoserve,origin,phase-data,",420.0,1537989593711,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True
6134,NaN,NaN,2000hk57,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.422,NaN,41.0,",us2000hk57,",5.0,mww,NaN,us,NaN,"85km W of Manokwari, Indonesia",0.81,385,",us,",reviewed,1537954061090,"M 5.0 - 85km W of Manokwari, Indonesia",1,earthquake,",geoserve,origin,phase-data,",540.0,1537955304040,https://earthquake.usgs.gov/earthquakes/eventp...,Indonesia,True

### 3. Calcular las estadísticas resumidas de los terremotos en Nevada.

In [17]:
data.loc[(data['parsed_place']== 'Nevada')].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

Otra forma:

In [38]:
data[data['place'].str.contains('|'.join(['Nevada','NV']), na=False)].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

### 4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, Antártida (busca Antarctic), Bolivia,California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.

Observa que tenemos que usar `^Mexico` para obtener México, pero no Nuevo México.

In [61]:
data['parsed_place'].astype(dtype=str)

0        California
1        California
2        California
3        California
4        California
           ...
9327     California
9328     California
9329    Puerto Rico
9330     California
9331     California
Name: parsed_place, Length: 9332, dtype: object

In [62]:
data['fire_belt'] = data['parsed_place'].str.contains(
    r'Alaska|Antarctic|Bolivia|California|Canada|Chile|Rica|Ecuador|Fiji|Guatemala|Indonesia|Japan|Kermadec|^Mexico|Zealand|Peru|Philipines|Russia|Taiwan|Tonga|Washington'
    )

In [58]:
data[['fire_belt']]

      fire_belt
0          True
1          True
2          True
3          True
4          True
...         ...
9327       True
9328       True
9329      False
9330       True
9331       True

[9332 rows x 1 columns]

In [59]:
print('Terremotos en el Cinturón de Fuego:', data['fire_belt'].value_counts()[True])
print('Terremotos fuera del Cinturón de Fuego:', data['fire_belt'].value_counts()[False])

Terremotos en el Cinturón de Fuego: 7167
Terremotos fuera del Cinturón de Fuego: 2165

In [64]:
data['ring_of_fire'] = data.parsed_place.str.contains(r'|'.join([
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada',
    'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala',
    'Indonesia', 'Japan', 'Kermadec Islands', '^Mexico',
    'New Zealand', 'Peru', 'Philippines', 'Russia',
    'Taiwan', 'Tonga', 'Washington' 
]))

In [65]:
lista = ['Alaska', 'Antarctic', 'Bolivia', 
         'CA', 'Canada', 'Chile',
         'Costa Rica', 'Ecuador',
         'Fiji', 'Guatemala', 'Indonesia',
         'Japan', 'Kermadec', 'MX',
         'New Zealand', 'Peru', 'Philipines',
         'Russia', 'Taiwan', 'Tonga', 'Washington']
data['Firebelt'] = data['place'].str.contains('|'.join(lista))
data[['Firebelt']]

      Firebelt
0         True
1         True
2         True
3         True
4         True
...        ...
9327      True
9328      True
9329     False
9330      True
9331      True

[9332 rows x 1 columns]

In [66]:
print('Terremotos en el Cinturón de Fuego:', data['Firebelt'].value_counts()[True])
print('Terremotos fuera del Cinturón de Fuego:', data['Firebelt'].value_counts()[False])

Terremotos en el Cinturón de Fuego: 7032
Terremotos fuera del Cinturón de Fuego: 2300

### 5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.

In [67]:
data['fire_belt'].value_counts()

fire_belt
True     7167
False    2165
Name: count, dtype: int64

In [68]:
data.ring_of_fire.value_counts()

ring_of_fire
True     7188
False    2144
Name: count, dtype: int64

### 6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [69]:
fire_tsunamis = data.loc[(data['fire_belt'] == True) & (data['tsunami']== 1),['place','fire_belt', 'tsunami']]
fire_tsunamis

                                    place  fire_belt  tsunami
118       262km NW of Ozernovskiy, Russia       True        1
799    148km S of Severo-Kuril'sk, Russia       True        1
1015     61km SSW of Chignik Lake, Alaska       True        1
1273          71km SW of Kaktovik, Alaska       True        1
1406            13km E of Palu, Indonesia       True        1
1698      14km ENE of Sambelia, Indonesia       True        1
1795           60km WNW of Valdez, Alaska       True        1
2414             5km SW of Tres Pinos, CA       True        1
2752         67km SSW of Kaktovik, Alaska       True        1
3112       29km SSW of Nggongi, Indonesia       True        1
3150    38km S of Nggongi Satu, Indonesia       True        1
3605     50km WSW of Kasiguncu, Indonesia       True        1
3609  33km SSW of Nggongi Satu, Indonesia       True        1
3692       30km SSW of Nggongi, Indonesia       True        1
3699    33km S of Nggongi Satu, Indonesia       True        1
3707            25km N of Palu, Indonesia       True        1
3709    31km S of Nggongi Satu, Indonesia       True        1
3714  33km SSW of Nggongi Satu, Indonesia       True        1
4027         101km NNW of Palu, Indonesia       True        1
4363       263km NNE of Ndoi Island, Fiji       True        1
4827       49km W of Kasiguncu, Indonesia       True        1
4888       53km W of Kasiguncu, Indonesia       True        1
4988            1km SE of Delta, B.C., MX       True        1
5054     55km WSW of Kasiguncu, Indonesia       True        1
5146          45km SSW of Palu, Indonesia       True        1
5179         113km NNW of Palu, Indonesia       True        1
5195            58km S of Palu, Indonesia       True        1
5196           107km N of Palu, Indonesia       True        1
5214            47km N of Palu, Indonesia       True        1
5240          68km SSE of Palu, Indonesia       True        1
5244          17km NNE of Palu, Indonesia       True        1
5245            42km N of Palu, Indonesia       True        1
5250            24km N of Palu, Indonesia       True        1
5256          21km SSE of Palu, Indonesia       True        1
5258            17km E of Palu, Indonesia       True        1
5259            99km N of Palu, Indonesia       True        1
5263            78km N of Palu, Indonesia       True        1
5289            60km N of Palu, Indonesia       True        1
5321          77km NNE of Palu, Indonesia       True        1
5323          55km NNW of Palu, Indonesia       True        1
5790       117km N of Saumlaki, Indonesia       True        1
6004        19km WNW of Langsa, Indonesia       True        1
6134       85km W of Manokwari, Indonesia       True        1
9133         64km SSW of Kaktovik, Alaska       True        1

In [23]:
fire_tsunamis.shape

(43, 3)

In [24]:
fire_tsunamis.count()

place        43
fire_belt    43
tsunami      43
dtype: int64

In [25]:
fire_tsunamis['tsunami'].sum()

43