In [1]:
import pandas as pd
import sqlite3

In [11]:
# Conectamos con la base de datos .db. ESTA PARTE SIEMPRE HAY QUE HACERLA
connection = sqlite3.connect(r"C:\Users\laura\Desktop\DS_PT_09_2023\Data_Analysis\7-Bases_de_datos\SQL\Ejercicicio_individual_II\murder_game\data\sql-murder-mystery.db")

# Obtenemos un cursor que utilizaremos para hacer las queries. Es lo mismo al cntr enter en el dbeaver. PODEMOS UTILIZAR ESTE O PANDAS LO CREA, PERO MEJOR HACERLO.
crsr = connection.cursor()

In [12]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()
# opci´´on de mejora: añadir un try except, por si no hay nada en la tabla


    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [14]:
query1 = """ SELECT * FROM crime_scene_report
WHERE type = 'murder'
AND city = 'SQL City'
AND date = '20180115'
 """
#  cuidado con la fecha
sql_query(query1)

OperationalError: no such table: crime_scene_report

In [ ]:
SELECT * 
  FROM sqlite_master
 where type = 'table'