# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:


1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:
- a) Lee los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv.
- b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo); así es como se busca una acción. En este caso, los nombres de los archivos son los símbolos de los teletipos.
- c) Agréguelos en un dataframe.
- d) Guarda el resultado en un archivo CSV llamado faang.csv.

In [2]:
from sklearn.datasets import load_iris, fetch_california_housing
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sns.set(color_codes=True)

In [3]:
appl = pd.read_csv('aapl.csv')
fb = pd.read_csv('fb.csv')
amzn = pd.read_csv('amzn.csv')
ntflx = pd.read_csv('nflx.csv')
ggl = pd.read_csv('goog.csv')

lista_df = [appl, fb,amzn, ntflx, ggl]

In [4]:
# ¿cómo hacerlo con un bucle for?

appl['ticker'] = 'AAPL'
amzn['ticker'] = 'AMZN'
fb['ticker'] = 'FB'
ggl['ticker'] = 'GOOG'
ntflx['ticker'] = 'NFLX'

In [5]:
faang = pd.merge(appl,amzn , how = 'outer')
faang = pd.merge(faang, fb, how='outer')
faang = pd.merge(faang, ggl, how='outer')
faang = pd.merge(faang, ntflx, how='outer')

In [6]:
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,AAPL
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,AAPL
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,AAPL
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,AAPL
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,AAPL
...,...,...,...,...,...,...,...
1250,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,NFLX
1251,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,NFLX
1252,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,NFLX
1253,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,NFLX
1254,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,NFLX

In [7]:
faang.shape

(1255, 7)

In [8]:
faang.to_csv('faang.csv')


2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

In [9]:
faang.dtypes

date       object
high      float64
low       float64
open      float64
close     float64
volume    float64
ticker     object
dtype: object

In [10]:
faang['volume'] = faang['volume'].astype('int')
faang['volume'].dtype

dtype('int32')

In [11]:
from datetime import datetime
faang['date'] = pd.to_datetime(faang['date'])

In [12]:
faang.sort_values(['date', 'ticker'], ascending=[True, True])

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,AAPL
251,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
502,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
753,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
1004,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX
...,...,...,...,...,...,...,...
250,2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000,AAPL
501,2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500,AMZN
752,2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300,FB
1003,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300,GOOG
1254,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900,NFLX


3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

In [13]:
faang.sort_values(by='volume', ascending=True).head(7)

,date,high,low,open,close,volume,ticker
879,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
979,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
852,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
883,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
905,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
912,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
914,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG

4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID
(identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.

In [14]:
pd.melt(faang, ('date', 'ticker'))

           date ticker variable         value
0    2018-01-02   AAPL     high  4.307500e+01
1    2018-01-03   AAPL     high  4.363750e+01
2    2018-01-04   AAPL     high  4.336750e+01
3    2018-01-05   AAPL     high  4.384250e+01
4    2018-01-08   AAPL     high  4.390250e+01
...         ...    ...      ...           ...
6270 2018-12-24   NFLX   volume  9.547600e+06
6271 2018-12-26   NFLX   volume  1.440270e+07
6272 2018-12-27   NFLX   volume  1.223520e+07
6273 2018-12-28   NFLX   volume  1.099280e+07
6274 2018-12-31   NFLX   volume  1.350890e+07

[6275 rows x 4 columns]

5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.

Tendríamos que rellenar estos datos con datos que no desvistuasen la base de datos. Una opción es utilizar el valor medio entre los valores del dia anterior y el siguiente.

6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:
- a) Lea el archivo covid19_casos.csv.
- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.
- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.

In [15]:
covid_19 = pd.read_csv('covid19_cases.csv')
covid_19 = pd.DataFrame(covid_19)

In [16]:
covid_19.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN

In [17]:
covid_19['dateRep']

0        01/01/2020
1        01/01/2020
2        01/01/2020
3        01/01/2020
4        01/01/2020
            ...
43438    18/09/2020
43439    18/09/2020
43440    18/09/2020
43441    18/09/2020
43442    18/09/2020
Name: dateRep, Length: 43443, dtype: object

In [18]:
covid_19['dateRep'] = pd.to_datetime(covid_19['dateRep'], format="%d/%m/%Y")

In [19]:
covid_19.dtypes

dateRep                                                       datetime64[ns]
day                                                                    int64
month                                                                  int64
year                                                                   int64
cases                                                                  int64
deaths                                                                 int64
countriesAndTerritories                                               object
geoId                                                                 object
countryterritoryCode                                                  object
popData2019                                                          float64
continentExp                                                          object
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000           float64
dtype: object

- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.

In [20]:
index1 = pd.DatetimeIndex(covid_19['dateRep'])
covid_19.set_index('dateRep')

,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
dateRep,,,,,,,,,,,
2020-01-01,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
2020-01-01,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-09-18,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529
2020-09-18,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925
2020-09-18,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173
2020-09-18,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560
2020-09-18,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361

In [21]:
# covid_sorted = pd.DataFrame.sort_index(covid_19)
# covid_sorted.set_index('dateRep')

In [22]:
covid_19.replace('United_States_of_America','USA', inplace=True)
covid_19.replace('nited_Kingdom','UK', inplace=True)

- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.

In [31]:
filtered = covid_19[covid_19['countriesAndTerritories'].str.contains(r'Argentina|Brasil|China|Colombia|India|Italy|Mexico|Peru|Russia|Spain|Turkey|UK|USA')]
filtered = filtered.set_index('dateRep')

In [32]:
filtered

,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
dateRep,,,,,,,,,,,
2020-01-01,1,1,2020,0,0,India,IN,IND,1.366418e+09,Asia,NaN
2020-01-01,1,1,2020,0,0,China,CN,CHN,1.433784e+09,Asia,NaN
2020-01-01,1,1,2020,0,0,Mexico,MX,MEX,1.275755e+08,America,NaN
2020-01-01,1,1,2020,0,0,USA,US,USA,3.290649e+08,America,NaN
2020-01-01,1,1,2020,0,0,Spain,ES,ESP,4.693706e+07,Europe,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-09-18,18,9,2020,44,0,China,CN,CHN,1.433784e+09,Asia,0.021482
2020-09-18,18,9,2020,7568,187,Colombia,CO,COL,5.033944e+07,America,203.361408
2020-09-18,18,9,2020,43567,831,USA,US,USA,3.290649e+08,America,159.179230
2020-09-18,18,9,2020,1583,13,Italy,IT,ITA,6.035955e+07,Europe,33.321987
2020-09-18,18,9,2020,14389,90,Spain,ES,ESP,4.693706e+07,Europe,300.510940

In [33]:
filtered.pivot_table(index='dateRep', columns='countriesAndTerritories', values='cases', fill_value=0 )

countriesAndTerritories,Argentina,China,Colombia,India,Italy,Mexico,Peru,Russia,Spain,Turkey,USA
dateRep,,,,,,,,,,,
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-03,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-05,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2020-09-14,10778.0,29.0,7355.0,92071.0,1456.0,4408.0,6787.0,5449.0,27404.0,1527.0,33871.0
2020-09-15,9056.0,22.0,5573.0,83809.0,1008.0,3335.0,4241.0,5509.0,9437.0,1716.0,34841.0
2020-09-16,9908.0,24.0,6698.0,90123.0,1229.0,4771.0,4160.0,5529.0,11193.0,1742.0,51473.0
2020-09-17,11893.0,7.0,7787.0,97894.0,1452.0,4444.0,6380.0,5670.0,11291.0,1771.0,24598.0
2020-09-18,11674.0,44.0,7568.0,96424.0,1583.0,3182.0,5698.0,5762.0,14389.0,1648.0,43567.0


7. Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.

In [57]:
total_casos = pd.read_csv('covid19_total_cases.csv', index_col='index')
total_casos

,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Republic_of_Tanzania,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
index,,,,,,,,,,,,,,,,,,,,,
cases,38919,12073,49413,1564,3789,3,95,601700,46910,3460,...,509,1242,1890,50253,65174,1068,766,2024,14022,7647

In [104]:
total_casos = total_casos.T
total_casos

index           cases
USA           6724667
India         5308014
Brazil        4495183
Russia        1091186
Peru           756412
Colombia       750471
Mexico         688954
South_Africa   657627
Spain          640040
Argentina      601700
Chile          442827
France         428696
Iran           416198
UK             385936
Bangladesh     345805
Saudi_Arabia   328720
Iraq           311690
Pakistan       305031
Turkey         299810
Italy          294932

In [108]:
total_casos = total_casos.sort_values('cases', ascending=False).head(20).to_dict()

AttributeError: 'dict' object has no attribute 'sort_values'

In [112]:
total_casos= total_casos['cases']

In [113]:
total_casos

{'USA': 6724667,
 'India': 5308014,
 'Brazil': 4495183,
 'Russia': 1091186,
 'Peru': 756412,
 'Colombia': 750471,
 'Mexico': 688954,
 'South_Africa': 657627,
 'Spain': 640040,
 'Argentina': 601700,
 'Chile': 442827,
 'France': 428696,
 'Iran': 416198,
 'UK': 385936,
 'Bangladesh': 345805,
 'Saudi_Arabia': 328720,
 'Iraq': 311690,
 'Pakistan': 305031,
 'Turkey': 299810,
 'Italy': 294932}

In [115]:
my_list = [key for key in total_casos]

In [116]:
string = ','.join([str(i) for i in total_casos])

In [117]:
print('Los países con más casos de covid fueron:' , string)

Los países con más casos de covid fueron: USA,India,Brazil,Russia,Peru,Colombia,Mexico,South_Africa,Spain,Argentina,Chile,France,Iran,UK,Bangladesh,Saudi_Arabia,Iraq,Pakistan,Turkey,Italy