# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:


1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:
- a) Lee los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv.
- b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo); así es como se busca una acción. En este caso, los nombres de los archivos son los símbolos de los teletipos.
- c) Agréguelos en un dataframe.
- d) Guarda el resultado en un archivo CSV llamado faang.csv.

In [1]:
from sklearn.datasets import load_iris, fetch_california_housing
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sns.set(color_codes=True)

In [10]:
appl = pd.read_csv('aapl.csv')
fb = pd.read_csv('fb.csv')
amzn = pd.read_csv('amzn.csv')
ntflx = pd.read_csv('nflx.csv')
ggl = pd.read_csv('goog.csv')

lista_df = [appl, fb,amzn, ntflx, ggl]

In [11]:
# ¿cómo hacerlo con un bucle for?

appl['ticker'] = 'AAPL'
amzn['ticker'] = 'AMZN'
fb['ticker'] = 'FB'
ggl['ticker'] = 'GOOG'
ntflx['ticker'] = 'NFLX'

In [15]:
faang = pd.merge(appl,amzn , how = 'outer')
faang = pd.merge(faang, fb, how='outer')
faang = pd.merge(faang, ggl, how='outer')
faang = pd.merge(faang, ntflx, how='outer')

In [16]:
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,AAPL
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,AAPL
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,AAPL
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,AAPL
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,AAPL
...,...,...,...,...,...,...,...
1250,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,NFLX
1251,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,NFLX
1252,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,NFLX
1253,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,NFLX
1254,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,NFLX

In [18]:
faang.shape

(1255, 7)


2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

In [25]:
faang.dtypes

date       object
high      float64
low       float64
open      float64
close     float64
volume      int32
ticker     object
dtype: object

In [24]:
faang['volume'] = faang['volume'].astype('int')
faang['volume'].dtype

dtype('int32')

In [26]:
from datetime import datetime


3. Encuentre las siete filas en faang con el valor más bajo para el volumen.
4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID
(identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.
5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.

6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:
- a) Lea el archivo covid19_casos.csv.
- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.
- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.
7. Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.