# Ejercicios

Completa los siguientes ejercicios utilizando lo que hemos aprendido hasta y los datos del directorio ejercicios/:


1. Queremos ver los datos de las acciones de Facebook, Apple, Amazon, Netflix y Google (FAANG), pero nos dieron cada uno como un archivo CSV separado. Combínelos en un único archivo y guarde el dataframe de los datos FAANG como faang para el resto de los ejercicios:
- a) Lee los archivos aapl.csv, amzn.csv, fb.csv, goog.csv y nflx.csv.
- b) Añade una columna a cada dataframe, llamalo ticker, indicando el símbolo del ticker al que corresponde (el de Apple es AAPL, por ejemplo); así es como se busca una acción. En este caso, los nombres de los archivos son los símbolos de los teletipos.
- c) Agréguelos en un dataframe.
- d) Guarda el resultado en un archivo CSV llamado faang.csv.

In [108]:
from sklearn.datasets import load_iris, fetch_california_housing
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sns.set(color_codes=True)

In [109]:
appl = pd.read_csv('aapl.csv')
fb = pd.read_csv('fb.csv')
amzn = pd.read_csv('amzn.csv')
ntflx = pd.read_csv('nflx.csv')
ggl = pd.read_csv('goog.csv')

lista_df = [appl, fb,amzn, ntflx, ggl]

In [110]:
# ¿cómo hacerlo con un bucle for?

appl['ticker'] = 'AAPL'
amzn['ticker'] = 'AMZN'
fb['ticker'] = 'FB'
ggl['ticker'] = 'GOOG'
ntflx['ticker'] = 'NFLX'

In [111]:
faang = pd.merge(appl,amzn , how = 'outer')
faang = pd.merge(faang, fb, how='outer')
faang = pd.merge(faang, ggl, how='outer')
faang = pd.merge(faang, ntflx, how='outer')

In [112]:
faang

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600.0,AAPL
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600.0,AAPL
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400.0,AAPL
3,2018-01-05,43.842499,43.262501,43.360001,43.750000,94640000.0,AAPL
4,2018-01-08,43.902500,43.482498,43.587502,43.587502,82271200.0,AAPL
...,...,...,...,...,...,...,...
1250,2018-12-24,250.649994,233.679993,242.000000,233.880005,9547600.0,NFLX
1251,2018-12-26,254.500000,231.229996,233.919998,253.669998,14402700.0,NFLX
1252,2018-12-27,255.589996,240.100006,250.110001,255.570007,12235200.0,NFLX
1253,2018-12-28,261.910004,249.800003,257.940002,256.079987,10992800.0,NFLX
1254,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900.0,NFLX

In [113]:
faang.shape

(1255, 7)

In [114]:
faang.to_csv('faang.csv')


2. Con faang, utilice la conversión de tipos para convertir los valores de la columna de fecha en datetime y la columna de volumen en números enteros. A continuación, ordena por fecha y ticker.

In [115]:
faang.dtypes

date       object
high      float64
low       float64
open      float64
close     float64
volume    float64
ticker     object
dtype: object

In [116]:
faang['volume'] = faang['volume'].astype('int')
faang['volume'].dtype

dtype('int32')

In [117]:
from datetime import datetime
faang['date'] = pd.to_datetime(faang['date'])

In [118]:
faang.sort_values(by='date')
# faang.sort_values(by='ticker')

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,AAPL
502,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
753,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
251,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
1004,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX
...,...,...,...,...,...,...,...
752,2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300,FB
250,2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000,AAPL
1003,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300,GOOG
501,2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500,AMZN
1254,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900,NFLX


3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

In [119]:
faang.sort_values(by='volume', ascending=True)

,date,high,low,open,close,volume,ticker
879,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
979,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
852,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
883,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
905,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
...,...,...,...,...,...,...,...
23,2018-02-05,40.970001,39.000000,39.775002,39.122501,290954000,AAPL
22,2018-02-02,41.700001,40.025002,41.500000,40.125000,346375200,AAPL
212,2018-11-02,53.412498,51.357498,52.387501,51.869999,365314800,AAPL
245,2018-12-21,39.540001,37.407501,39.215000,37.682499,382978400,AAPL
182,2018-09-21,55.340000,54.322498,55.195000,54.415001,384986800,AAPL


3. Encuentre las siete filas en faang con el valor más bajo para el volumen.

In [120]:
faang.iloc[0:8]

        date       high        low       open      close     volume ticker
0 2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600   AAPL
1 2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600   AAPL
2 2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400   AAPL
3 2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000   AAPL
4 2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200   AAPL
5 2018-01-09  43.764999  43.352501  43.637501  43.582500   86336000   AAPL
6 2018-01-10  43.575001  43.250000  43.290001  43.572498   95839600   AAPL
7 2018-01-11  43.872501  43.622501  43.647499  43.820000   74670800   AAPL

4. En este momento, los datos están entre formato largo y ancho. Utilice melt() para que el formato sea completamente largo. Sugerencia: fecha y ticker son nuestras variables ID
(identifican de forma única cada fila). Necesitamos fundir(melt) el resto para no tener columnas separadas para apertura, máximo, mínimo, cierre y volumen.

In [121]:
pd.melt(faang, ('date', 'ticker'))

           date ticker variable         value
0    2018-01-02   AAPL     high  4.307500e+01
1    2018-01-03   AAPL     high  4.363750e+01
2    2018-01-04   AAPL     high  4.336750e+01
3    2018-01-05   AAPL     high  4.384250e+01
4    2018-01-08   AAPL     high  4.390250e+01
...         ...    ...      ...           ...
6270 2018-12-24   NFLX   volume  9.547600e+06
6271 2018-12-26   NFLX   volume  1.440270e+07
6272 2018-12-27   NFLX   volume  1.223520e+07
6273 2018-12-28   NFLX   volume  1.099280e+07
6274 2018-12-31   NFLX   volume  1.350890e+07

[6275 rows x 4 columns]

5. Supongamos que descubrimos que el 26 de julio de 2018 hubo un fallo en cómo se registraron los datos. ¿Cómo debemos manejar esto? Tenga en cuenta que no se requiere codificación para este ejercicio.

6. El Centro Europeo para la Prevención y el Control de las Enfermedades (ECDC) proporciona un conjunto de datos abierto sobre casos de COVID-19 denominado número diario de nuevos casos notificados de COVID-19 por país en todo el mundo (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). Este conjunto de datos se actualiza diariamente, pero utilizaremos una instantánea que contiene datos desde el 1 de enero de 2020 hasta el 18 de septiembre de 2020. Limpia y pivota los datos para que estén en formato ancho:
- a) Lea el archivo covid19_casos.csv.
- b) Cree una columna de fecha utilizando los datos de la columna dateRep y la función pd.to_datetime().
- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.
- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.

In [122]:
covid_19 = pd.read_csv('covid19_cases.csv')
covid_19 = pd.DataFrame(covid_19)

In [123]:
covid_19.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN

In [124]:
covid_19['dateRep']

0        01/01/2020
1        01/01/2020
2        01/01/2020
3        01/01/2020
4        01/01/2020
            ...
43438    18/09/2020
43439    18/09/2020
43440    18/09/2020
43441    18/09/2020
43442    18/09/2020
Name: dateRep, Length: 43443, dtype: object

In [125]:
covid_19['dateRep'] = pd.to_datetime(covid_19['dateRep'], format="%d/%m/%Y")

In [126]:
covid_19.dtypes

dateRep                                                       datetime64[ns]
day                                                                    int64
month                                                                  int64
year                                                                   int64
cases                                                                  int64
deaths                                                                 int64
countriesAndTerritories                                               object
geoId                                                                 object
countryterritoryCode                                                  object
popData2019                                                          float64
continentExp                                                          object
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000           float64
dtype: object

- c) Establece la columna de fecha como índice y ordena el índice.
- d) Sustituye todas las apariciones de United_States_of_America y United_Kingdom por USA y UK, respectivamente. Sugerencia: el método replace() puede ejecutarse en todo el dataframe.

In [127]:
index1 = pd.DatetimeIndex(covid_19['dateRep'])
covid_19.set_index('dateRep')

,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
dateRep,,,,,,,,,,,
2020-01-01,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
2020-01-01,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-09-18,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529
2020-09-18,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925
2020-09-18,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173
2020-09-18,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560
2020-09-18,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361

In [136]:
# covid_sorted = pd.DataFrame.sort_index(covid_19)
# covid_sorted.set_index('dateRep')

,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
dateRep,,,,,,,,,,,
2020-01-01,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
2020-01-01,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
2020-01-01,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-09-18,18,9,2020,822,2,Denmark,DK,DNK,5806081.0,Europe,69.220529
2020-09-18,18,9,2020,4326,84,Iraq,IQ,IRQ,39309789.0,Asia,153.513925
2020-09-18,18,9,2020,90,0,Bahamas,BS,BHS,389486.0,America,203.088173
2020-09-18,18,9,2020,0,0,Isle_of_Man,IM,IMN,84589.0,Europe,3.546560
2020-09-18,18,9,2020,34,8,Australia,AU,AUS,25203200.0,Oceania,3.031361

In [132]:
covid_19.replace('United_States_of_America','USA', inplace=True)
covid_19.replace('nited_Kingdom','UK', inplace=True)

- e) Utilizando la columna countriesAndTerritories, filtre los datos de casos COVID-19 depurados hasta Argentina, Brasil, China, Colombia, India, Italia, México, Perú, Rusia, España, Turquía, Reino Unido y Estados Unidos.
- f) Pivota los datos de modo que el índice contenga las fechas, las columnas contengan los nombres de los países y los valores sean los recuentos de casos (la columna de casos). Asegúrate de rellenar los valores NaN con 0.

In [139]:
filtered = covid_19[covid_19['countriesAndTerritories'].str.contains(r'Argentina| Brasil| China| Colombia| India| Italy| Mexico| Peru| Russia| Spain| Turquey| UK | USA')]
filtered

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
4235,2020-03-04,4,3,2020,1,0,Argentina,AR,ARG,44780675.0,America,NaN
4342,2020-03-06,6,3,2020,1,0,Argentina,AR,ARG,44780675.0,America,NaN
4373,2020-03-07,7,3,2020,6,0,Argentina,AR,ARG,44780675.0,America,NaN
4445,2020-03-08,8,3,2020,1,1,Argentina,AR,ARG,44780675.0,America,NaN
4509,2020-03-09,9,3,2020,3,0,Argentina,AR,ARG,44780675.0,America,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
42595,2020-09-14,14,9,2020,10778,101,Argentina,AR,ARG,44780675.0,America,324.340801
42763,2020-09-15,15,9,2020,9056,105,Argentina,AR,ARG,44780675.0,America,328.514476
42825,2020-09-16,16,9,2020,9908,298,Argentina,AR,ARG,44780675.0,America,329.852107
43152,2020-09-17,17,9,2020,11893,200,Argentina,AR,ARG,44780675.0,America,332.953891
43367,2020-09-18,18,9,2020,11674,319,Argentina,AR,ARG,44780675.0,America,334.608623


7. Para determinar los totales de casos por país de forma eficiente, necesitamos las habilidades de agregación que aprenderemos en el Capítulo 4, Agregación de Pandas DataFrames, así que los datos ECDC en el fichero covid19_casos.csv han sido agregados para nosotros y guardados en el fichero covid19_total_casos.csv. Contiene el número total de casos por país. Utilice estos datos para encontrar los 20 países con los mayores totales de casos de COVID-19. Sugerencias: al leer el archivo CSV, introduzca index_col='cases' y tenga en cuenta que será útil transponer los datos antes de aislar los países.