# Fictional Army - Filtering and Sorting

## Paso 1. Importar librerias necesarias

In [1]:
import numpy as np
import pandas as pd

## Paso 2. Estos son los datos dados como diccionario

In [2]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

## Paso 3. Crea un marco de datos y asígnalo a una variable llamada ejército.

##### No olvide incluir los nombres de las columnas en el orden presentado en el diccionario ('regimiento', 'compañía', 'muertes'...) para que el orden del índice de columnas sea coherente con las soluciones. Si se omite, pandas ordenará las columnas alfabéticamente.

In [4]:
ejercito = pd.DataFrame(raw_data)
ejercito

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
4,Dragoons,1st,43,4,1592,73,2,0,3,Maine
5,Dragoons,1st,234,7,1006,37,1,1,4,Iowa
6,Dragoons,2nd,523,8,987,949,2,0,24,Alaska
7,Dragoons,2nd,62,3,849,48,3,1,31,Washington
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming
10,Scouts,2nd,37,8,1099,63,2,1,2,Louisana
11,Scouts,2nd,35,9,1523,345,3,1,3,Georgia

## Paso 4. Establezca la columna "origen" como índice del marco de datos

In [5]:
ejercito.reindex('origin')

TypeError: Index(...) must be called with a collection of some kind, 'origin' was passed

## Paso 5. Imprima sólo los veteranos de columna

In [7]:
ejercito['veterans']

KeyError: "None of [Index([1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345], dtype='int64')] are in the [columns]"

## Paso 6. Imprimir las columnas "veteranos" y "fallecidos

## Paso 7. Imprime el nombre de todas las columnas.

In [8]:
ejercito[ejercito.columns]

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
4,Dragoons,1st,43,4,1592,73,2,0,3,Maine
5,Dragoons,1st,234,7,1006,37,1,1,4,Iowa
6,Dragoons,2nd,523,8,987,949,2,0,24,Alaska
7,Dragoons,2nd,62,3,849,48,3,1,31,Washington
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming
10,Scouts,2nd,37,8,1099,63,2,1,2,Louisana
11,Scouts,2nd,35,9,1523,345,3,1,3,Georgia

## Paso 8. Seleccionar las columnas "muertos", "tamaño" y "desertores" de Maine y Alaska.

## Paso 9. Seleccione las filas 3 a 7 y las columnas 3 a 6

## Paso 10. Seleccione todas las filas después de la cuarta fila y todas las columnas

## Paso 11. Seleccione todas las filas hasta la 4ª fila y todas las columnas

## Paso 12. Seleccione la 3ª columna hasta la 7ª columna

## Paso 13. Seleccione las filas en las que df.deaths es mayor que 50

## Paso 14. Seleccione las filas en las que df.deaths es mayor que 500 o menor que 50

## Paso 15. Seleccione todos los regimientos que no se llamen "Dragones".

## Paso 16. Seleccione las filas denominadas Texas y Arizona

## Paso 17. Seleccione la tercera celda de la fila llamada Arizona

## Paso 18. Seleccione la tercera celda de la columna denominada muertes

## Paso 19. Guarde el dataframe en un csv