# Regiment

### Paso 1. Importar librerias

In [21]:
import pandas as pd
import numpy as np

### Paso 2. Cree el DataFrame con los siguientes valores:

In [22]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [23]:
regimiento = pd.DataFrame(raw_data)

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [24]:
regimiento

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [25]:
night = regimiento.loc[0:4,['preTestScore']]
night.mean()

preTestScore    12.8
dtype: float64

### Paso 5. Presentar estadísticas generales por empresa

In [26]:
regimiento.groupby('company').describe()

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [30]:
regimiento.set_index('company')

           regiment      name  preTestScore  postTestScore
company
1st      Nighthawks    Miller             4             25
1st      Nighthawks  Jacobson            24             94
2nd      Nighthawks       Ali            31             57
2nd      Nighthawks    Milner             2             62
1st        Dragoons     Cooze             3             70
1st        Dragoons     Jacon             4             25
2nd        Dragoons    Ryaner            24             94
2nd        Dragoons      Sone            31             57
1st          Scouts     Sloan             2             62
1st          Scouts     Piger             3             70
2nd          Scouts     Riani             2             62
2nd          Scouts       Ali             3             70

In [34]:
regimiento.groupby('company')[['preTestScore']].mean()

         preTestScore
company
1st          6.666667
2nd         15.500000

In [36]:
regimiento.groupby('regiment')[['preTestScore']].mean()

            preTestScore
regiment
Dragoons           15.50
Nighthawks         15.25
Scouts              2.50

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [40]:
regimiento1 = regimiento[['regiment','company']]
regimiento1

      regiment company
0   Nighthawks     1st
1   Nighthawks     1st
2   Nighthawks     2nd
3   Nighthawks     2nd
4     Dragoons     1st
5     Dragoons     1st
6     Dragoons     2nd
7     Dragoons     2nd
8       Scouts     1st
9       Scouts     1st
10      Scouts     2nd
11      Scouts     2nd

In [41]:
index = pd.MultiIndex.from_frame(regimiento1)
index

MultiIndex([('Nighthawks', '1st'),
            ('Nighthawks', '1st'),
            ('Nighthawks', '2nd'),
            ('Nighthawks', '2nd'),
            (  'Dragoons', '1st'),
            (  'Dragoons', '1st'),
            (  'Dragoons', '2nd'),
            (  'Dragoons', '2nd'),
            (    'Scouts', '1st'),
            (    'Scouts', '1st'),
            (    'Scouts', '2nd'),
            (    'Scouts', '2nd')],
           names=['regiment', 'company'])

In [42]:
regimiento.reindex(index)

                   regiment company name  preTestScore  postTestScore
regiment   company
Nighthawks 1st          NaN     NaN  NaN           NaN            NaN
           1st          NaN     NaN  NaN           NaN            NaN
           2nd          NaN     NaN  NaN           NaN            NaN
           2nd          NaN     NaN  NaN           NaN            NaN
Dragoons   1st          NaN     NaN  NaN           NaN            NaN
           1st          NaN     NaN  NaN           NaN            NaN
           2nd          NaN     NaN  NaN           NaN            NaN
           2nd          NaN     NaN  NaN           NaN            NaN
Scouts     1st          NaN     NaN  NaN           NaN            NaN
           1st          NaN     NaN  NaN           NaN            NaN
           2nd          NaN     NaN  NaN           NaN            NaN
           2nd          NaN     NaN  NaN           NaN            NaN

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

In [29]:
regimiento['regiment', 'company']

KeyError: ('regiment', 'company')

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [ ]:
index = pd.MultiIndex.from_frame(regimiento['regiment', 'company'])

KeyError: ('regiment', 'company')

In [ ]:
regimiento.groupby('company')['regiment']

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)