#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [2]:
import pandas as pd

import urllib.request
from PIL import Image

## Data

In [3]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("data/train.csv")

## Data exploration

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73363 entries, 0 to 73362
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Id                                    73363 non-null  int64
 1   target                                73363 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  73363 non-null  float64
 3   age                                   73363 non-null  object
 4   NumberOfTime30-59DaysPastDueNotWorse  73363 non-null  int64
 5   DebtRatio                             73363 non-null  float64
 6   MonthlyIncome                         58796 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       73363 non-null  int64
 8   NumberOfTimes90DaysLate               73363 non-null  int64
 9   NumberRealEstateLoansOrLines          73363 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  73363 non-null  int64
 11  NumberOfDependents                    71421 non-null  float64
dtypes: float64(4), int64(7), object(1)
memory usage: 6.7+ MB

In [5]:
train.head()

,Id,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,44164,0,0.768219,68y,1,0.687930,2178.0,12,0,1,0,0.0
1,95356,0,0.289873,52y,0,0.385497,3750.0,16,0,1,0,1.0
2,108917,0,0.000000,54y,0,0.346503,6833.0,8,0,1,0,0.0
3,99039,0,0.046064,66y,1,0.407614,5200.0,6,0,1,0,1.0
4,116168,0,0.168771,45y,0,4702.000000,NaN,10,0,3,0,1.0

In [21]:
train.isna().sum()

Id                                          0
target                                      0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           14567
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       1942
dtype: int64

Cuál es el target?
Eliminar los nan?
eliminar la y en la columna years

In [11]:
train.columns

Index(['Id', 'target', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

In [19]:
# Assuming 'train' is your DataFrame
unique_values_per_column = {column: train[column].unique() for column in train.columns}
unique_values_per_column
# # Print or do something with unique values
# for column, unique_values in unique_values_per_column.items():
#     print(f"Unique values for column '{column}': {unique_values}")

{'Id': array([ 44164,  95356, 108917, ..., 129050,  94633,  88136], dtype=int64),
 'target': array([0, 1], dtype=int64),
 'RevolvingUtilizationOfUnsecuredLines': array([0.76821913, 0.28987314, 0.        , ..., 0.55052682, 0.67865064,
        0.13669894]),
 'age': array(['68y', '52y', '54y', '66y', '45y', '73y', '63y', '56y', '44y',
        '70y', '48y', '40y', '39y', '59y', '29y', '50y', '49y', '71y',
        '53y', '43y', '51y', '57y', '65y', '60y', '47y', '74y', '46y',
        '30y', '32y', '22y', '37y', '25y', '28y', '42y', '75y', '77y',
        '55y', '36y', '72y', '79y', '61y', '76y', '82y', '67y', '83y',
        '88y', '80y', '78y', '38y', '26y', '64y', '81y', '33y', '34y',
        '58y', '69y', '41y', '62y', '27y', '86y', '24y', '35y', '90y',
        '84y', '23y', '91y', '31y', '89y', '93y', '99y', '85y', '87y',
        '21y', '94y', '96y', '98y', '92y', '105y', '103y', '102y', '97y',
        '95y', '0y', '101y'], dtype=object),
 'NumberOfTime30-59DaysPastDueNotWorse': array([ 1,  0,  3,  6,  2, 98,  4,  7,  5,  8, 96,  9, 13, 10, 12],
       dtype=int64),
 'DebtRatio': array([0.68793024, 0.3854972 , 0.34650278, ..., 0.21166307, 0.43699027,
        0.17930129]),
 'MonthlyIncome': array([ 2178.,  3750.,  6833., ...,  8109., 20776.,  8940.]),
 'NumberOfOpenCreditLinesAndLoans': array([12, 16,  8,  6, 10,  4,  7,  9,  2, 11, 13, 18, 22,  3, 21,  5,  0,
        19, 14, 17, 15, 23, 24,  1, 20, 27, 26, 31, 29, 33, 25, 39, 50, 28,
        35, 30, 42, 34, 38, 51, 32, 53, 40, 52, 36, 48, 54, 37, 46, 45, 43,
        41, 44, 49, 56, 57], dtype=int64),
 'NumberOfTimes90DaysLate': array([ 0,  2,  1,  4,  3, 98,  7,  5,  6, 11, 10,  9, 17, 96,  8, 15, 14],
       dtype=int64),
 'NumberRealEstateLoansOrLines': array([ 1,  3,  0,  2, 10,  5,  4,  7,  6, 12, 13,  8,  9, 11, 17, 14, 23,
        15, 16, 26, 19, 20, 32, 25], dtype=int64),
 'NumberOfTime60-89DaysPastDueNotWorse': array([ 0,  1,  2, 98,  3,  4,  9,  5,  7, 96,  6, 11], dtype=int64),
 'NumberOfDependents': array([ 0.,  1.,  2.,  4.,  3., nan,  7.,  5.,  6.,  9.,  8., 13.])}

In [25]:
#Eliminamos los decimales de la col Monthly income
train['MonthlyIncome'] = train['MonthlyIncome'].round(0)

In [26]:
train['MonthlyIncome'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [32]:
train['age']=train['age'].str.rstrip('y')

In [33]:
train.head()

,Id,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,44164,0,0.768219,68,1,0.687930,2178.0,12,0,1,0,0.0
1,95356,0,0.289873,52,0,0.385497,3750.0,16,0,1,0,1.0
2,108917,0,0.000000,54,0,0.346503,6833.0,8,0,1,0,0.0
3,99039,0,0.046064,66,1,0.407614,5200.0,6,0,1,0,1.0
4,116168,0,0.168771,45,0,4702.000000,NaN,10,0,3,0,1.0

## Data processing

In [ ]:
# hay que estandarizar? Creo que sí, los datos son en escalas muy diferentes.

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [34]:
X = train.drop('target', axis=1)

y = train['target']

### 2. Dividir X_train, X_test, y_train, y_test

In [35]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)
# el df ya está dividido, hace falta esto tb?

### 3. Asignar el modelo (vacío) a una variable

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de AUC.

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

In [ ]:
X_pred = pd.read_csv("data/test.csv")
X_pred.head()

In [ ]:
X_pred=

In [ ]:
X_pred

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [ ]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [ ]:
predictions_submit = model.predict(X_pred)
predictions_submit

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [5]:
sample = pd.read_csv("data/sample_submission.csv")

In [6]:
sample.head()

      Id  target
0  15576       0
1  94308       1
2  53983       1
3  61359       1
4  71383       0

In [ ]:
sample.shape

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [ ]:
submission = pd.DataFrame({"Id": sample['laptop_ID'], "target": predictions_submit})

In [ ]:
submission.head()

In [ ]:
submission.shape

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [ ]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.Id.all() == sample.Id.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [ ]:
chequeator(submission)